$cadet-blue: cadetblue;
$gold: #bfa1008a;
$dark-gold: #8c780b8a;

.about-us-text {
  color: $cadet-blue;
}

.non-profit-text {
  color: $cadet-blue;
  font-size: 12px;
}

.golden-quote {
  color: $gold;
  font-size: 40px;
  font-family: Parisienne;

  p {
    font-size: 30px;
    color: $dark-gold;
  }
}
