<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="color-gold pt-4 pb-4 huge text-center">
    <%= @header %>
  </h1>

  <div class="about-us-text text-center">
    <p>
      but fight for felines started because of a few ferals that stole our hearts
    <br>
      adopting these sweet fluffs taught us more than we could have imagined
    <br>
      most importantly how intelligent, affectionate, trusting and unique these kitties can be.
    <br>
    <br>
    </p>
  </div>

  <div class="golden-quote my-5 text-center">
    "the cat is the only animal that has managed to tame man"
    <p>
      - marcel mauss
    <p>
  </div>

  <div class="about-us-text text-center">
    <p>every cat should be given a chance to live and love</p>
    <p>domesticated and feral cats should be spayed and neutered to control the feline population</p>
    <p>no cat should be euthanized for reasons other than medical necessity<p>
    <p>cat should live healthy, happy lives in a home or community, not a cage</p>
    <p>no one should have to surrender their companion due to monetary hardships</p>
    <br>
  <div>

  <div class="non-profit-text text-center">
    <p><b>we are a 501(c)(3) nonprofit organization based in salt lake city committed to controlling the feline population</b></p>
    <p><b>through TNR and finding safe shelter for those that crave human companionship</b></p>
  </div>

  <div>
<div>
