<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="color-gold huge text-center">
    <%= @header %>
  </h1>

  <div class="welcome-list text-center">
    <h2>
      the <span class=color-gold>reason</span> we fight
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      available <span class=color-gold>adoptees</span>
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      <span class=color-gold>join</span> the fight
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      our <span class=color-gold>co-fighters</span>
    <h2>
  <div>
</div>
