<div class="container">
  <p id="notice" class="text-center"><%= notice %></p>

  <div id="fff-logo">
    <iframe src=<%= image_url('gold_opaque.svg')%>
            class="sized-logo">
    </iframe>
  </div>

  <div class="welcome-list text-center">
    <h3>
      <a href="about_us" class="welcome-link">
        the <span class=color-gold>reason</span> we fight
      <a>
    <h3>
  </div>

  <div class="welcome-list text-center">
    <h3>
      <a href="#" class="welcome-link">
        a few of our <span class=color-gold>success</span> stories
      </a>
    <h3>
  </div>

  <div class="welcome-list text-center">
    <h3>
      <a href="#" class="welcome-link">
        available <span class=color-gold>adoptees</span>
      </a>
    <h3>
  </div>

  <div class="welcome-list text-center">
    <h3>
      <a href="users/new" class="welcome-link">
        <span class=color-gold>join</span> the fight
      </a>
    <h3>
  </div>

  <div class="welcome-list text-center">
    <h3>
      <a href="#" class="welcome-link">
        our <span class=color-gold>co-fighters</span>
      </a>
    <h3>
  <div>
</div>
