<div class="container">
  <p id="notice" class="text-center"><%= notice %></p>

  <!-- <h1 class="color-gold pt-4 huge text-center">
    <%= @header %>
  </h1> -->

  <div id="fff-logo">
    <iframe src=<%= image_url('gold_opaque.svg') %>
            width="500"
            height="400"
            style="border: none; display:block; margin: 0 auto;">
    </iframe>
  <div>

  <div class="welcome-list text-center">
    <h2>
      <a href="about_us" class="welcome-link">
        the <span class=color-gold>reason</span> we fight
      <a>
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      <a href="users/new" class="welcome-link">
        a few of our <span class=color-gold>success</span> stories
      </a>
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      available <span class=color-gold>adoptees</span>
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      <a href="users/new" class="welcome-link">
        <span class=color-gold>join</span> the fight
      </a>
    <h2>
  <div>

  <div class="welcome-list text-center">
    <h2>
      our <span class=color-gold>co-fighters</span>
    <h2>
  <div>
</div>
