$dark-gold: #8c780b8a;
$light-green: honeydew;
$cadet-blue: cadetblue;

#error_explanation {
  padding-top: 2%;
  padding-bottom: 1%;
  background-color: $dark-gold;
  color: $light-green;
}

.user-reg-submit {
  background-color: $cadet-blue !important;
  color: white !important;
}

.comforter-brush-med {
  font-family: 'Comforter Brush';
  font-size: 35px;
  color: $cadet-blue;
}

input[type="radio"]{
  margin: 0 8px 0 20px;
}

.white-smoke {
  color: white-smoke !important;
}

.application-downloads
  a {
    color: $dark-gold !important;
  }
