<div>
  <footer class="footer fixed-bottom text-center text-lg-start bg-light text-muted">
    <section class="text-center text-lg-start bg-light text-muted">
      <div class="text-center" style="padding-top: 15px;">
        <span">connect</span>
        <span id="social-media-links">
          <a href="https://www.instagram.com/fightforfelines/" class="me-5 text-reset">
            <i class="fab fa-instagram" style="font-weight: bold; padding-left: 3%;"></i>
          </a>
          <a href="https://www.instagram.com/fightforfelines/" class="me-5 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="me-5 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="me-5 text-reset">
            <i class="fab fa-google"></i>
          </a>
        <div>
      </span>
    </section>
  </footer>
</div>
